body,
html {
	width: 100%;
	height: 100%;
	font-family: 'Montserrat', sans-serif;
}

body {
	background: url('header.jpg') no-repeat center center fixed;
	background-size: cover;
}

h1 {
	color: #f0f0f0;
}

hr {
	height: 3px;
	border-width: 2px;
	border-color: orange;
	max-width: 65px;
}

.buffer {
	height: 10rem;
}

.btn-xl {
	padding: 10px 20px;
	border-color: orange;
	border-radius: 250px;
	background-color: orange;
	transition: all 0.2s;
	text-transform: uppercase;
	color: white;
}

.btn-xl:hover {
	transform: scale(1.05);
	border-color: red;
	border-width: 2px;
	background-color: red;
	font-weight: bold;
	color: orange;
}